ALTER TABLE utilisateur ADD role_id VARCHAR(50) DEFAULT NULL; ALTER TABLE utilisateur ADD CONSTRAINT FK_1D1C63B3D60322AC FOREIGN KEY (role_id) REFERENCES role (code); CREATE INDEX IDX_1D1C63B3D60322AC ON utilisateur (role_id);
